#wrapper {
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    padding: 10px auto;
    width: 600px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #444;
    margin-bottom: 0px;
    padding: 0px;
}

.buttons {
    width: 510px;
    height: 40px;
    margin: 10px auto;
}

button {
    margin-right: 10px;
    margin-bottom: 15px;
    height: 40px;
    width: 90px;
    border-style: none;
    color: #fff;
}

button.unselected {
    background-color: #bbb;
}

button.selected {
    background-color: #444;
}

#grid {
    width: 800px;
    margin: 20px auto;
    margin-bottom: 10px;
}

td {
    background-color: #f8f8f8;
    margin: 0px 3px 0px 0px;
    display: inline-block;
}

tr {
    margin: 0px;
    padding: 0px;
    background-color: blue;
}

table {
    border-collapse: separate;
    margin: 0 auto;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: -1px;
}

div.cell {
    width: 40px;
    height: 40px;
}



